version: "3"
services:
  couch_{{hostname}}:
    image: "couchdb:2.3.0"
    restart: always
    ports:
      - "5984:5984"
    volumes:
      - /home/couchdb/{{hostname}}/data:/opt/couchdb/data
    environment:
      - COUCHDB_USER=user
      - COUCHDB_PASSWORD=pass
      - NODENAME={{ansible_host}}